<!DOCTYPE html>
<html>
<head>
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (video) { %>
    <meta property="og:video" content="<%= video %>">
  <% } else { %>
    <meta property="og:image" content="<%= image %>">
  <% } %>
  <!-- other meta tags -->
</head>
<body>
  <p><%= title %></p>

  <a href="<%= url %>" style="margin-bottom: 10px; display: inline-block; padding: 10px 20px; color: #fff; background-color: #007BFF; text-decoration: none; border-radius: 4px;">
    Open in app</a>

    <div>

      <% if (image) { %><img style="max-width: 300px; max-height: 300px; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="<%= image %>"> <% } %>
      <% if (video) { %><video style="max-width: 300px; max-height: 300px;" src="<%= video %>" controls></video> <% } %>
    </div>

</body>
</html>